html {
  background-image: url(images/blank\ food\ menu\ template.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  border-radius: 100px;
  color: white;
  padding: 50px 100px;
  text-align: center;
  width: 1200px;
  margin: 1px auto;
  background: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border-radius: 50px;
  background-color: black;
}
td {
  border-radius: 25px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
#register {
  background: black;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
}
input {
  padding: 5px 10px;
  border-radius: 100px;
}

table input {
  width: 30px;
}
a {
  transition-duration: 0.5s;
  color: orange;
}
#color {
  color: orange;
}
